<div class="ad">
	<img src="http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20161210094309483.jpg">
</div>
<ion-content class="has-header has-footer">
	<div class="home-adds">
		<i>全国送</i>
	</div>
	<ion-slide-box on-slide-changed="changed(index)" slide-interval="1000" auto-play="false" does-continue="true" >
	  <ion-slide>
	    <img src="http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170418231535386.jpg?iopcmd=thumbnail&type=4&width=640" class="box">
	  </ion-slide>
	  <ion-slide>
	    <img src="http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170408225129355.jpg?iopcmd=thumbnail&type=4&width=640" class="box">
	  </ion-slide>
	  <ion-slide>
	    <img src="http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170417190729849.jpg?iopcmd=thumbnail&type=4&width=640" class="box">
	  </ion-slide>
	  <ion-slide>
	    <img src="http://missfresh-asschool-develop-common.ufile.ucloud.com.cn/img_20170419215257391.jpg?iopcmd=thumbnail&type=4&width=640" class="box">
	  </ion-slide>
	  
	</ion-slide-box>
	<div class="list">

	    <single-cart ng-repeat="item in list" data="item"></single-cart>

	</div>
</ion-content>